.Hidden {
  visibility: hidden;
}

.Day {
  background-color: rgba(180, 130, 40, 0.2);
}

.Night {
  background-color: rgba(40, 25, 90, 0.2);
}

.Knight {
  background-image: url("./images/knight.png");
  background-size: cover;
}

.Ranger {
  background-image: url("./images/ranger.png");
  background-size: cover;
}