.Hidden {
  visibility: hidden;
}

.Day {
  background: linear-gradient(to bottom left, rgba(200, 150, 40, 0.3), rgba(231, 222, 222, 0.01));
}

.Night {
  background: linear-gradient(to bottom left, rgba(137, 177, 187, 0.3), rgba(11, 21, 66, 0.7));
}

.Found {
  color: green;
}

.Knight {
  background-image: url("./images/knight.png");
  background-size: cover;
}

.Knig {
  width: 8vh;
  height: 8vh;
}

.Kni{
  background-image: url("./images/knight_head.png");
  height: 25%;
  background-size: cover;
}

.Ranger {
  background-image: url("./images/ranger.png");
  background-size: cover;
}

.Rang {
  width: 8vh;
  height: 8vh;
  text-align: center;
}

.Ran{
  background-image: url("./images/ranger_head.png");
  height: 25%;
  background-size: cover;
}

.Guardian {
  background-image: url("./images/guardian.png");
  background-size: cover;
}

.Guard {
  width: 8vh;
  height: 8vh;
  text-align: center;
}

.Gua{
  background-image: url("./images/guardian_head.png");
  height: 25%;
  background-size: cover;
}

.Mage {
  background-image: url("./images/mage.png");
  background-size: cover;
}

.Mag {
  width: 8vh;
  height: 8vh;
  text-align: center;
}

.Ma {
  background-image: url("./images/mage_head.png");
  height: 25%;
  background-size: cover;
}

.Tavern {
  background-image: url("./images/tavern_wip.png");
  background-size: 160%;
  background-position: 60% 40%;
}

.Guild {
  background-image: url("./images/guild_wip.png");
  background-size: 160%;
  background-position: 60% 40%;
}

.Store {
  background-image: url("./images/shop_wip.png");
  background-size: 160%;
  background-position: 60% 40%;
}

.Tournament {
  background-image: url("./images/provinggrounds_wip.png");
  background-size: 100%;
  background-position: 100% 50%;
}

.Notes {
  background-image: url("./images/notes_wip.png");
  background-size: 130%;
  background-position: 50% 40%;
}

.Camp {
  background-image: url("./images/camp_wip.png");
  background-size: 105%;
  background-position: 50% 40%;
}